* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #808080;
    display: block;
    margin: 0 auto;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;

}

.control-buttons {
    padding: 0.5em;
    margin: 0.5em;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border: 2%;
    border-color: black;
    border-radius: 5%;
}

.grid-item {
    background-color: #EDEDED;
    padding: 10px;
    text-align: center;
}

.buttoncenter {
    margin: 0 auto;
    display: block;
}