#container{
  display: flex;
  flex-direction: column;
  height: 90vh;
}
#top{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;

}
#property{
  display: flex;
  width: 15%;
  border: 2px solid black;
}
#options{
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 2px solid black;
}

#gamewindow{
  width: 80%;
  border: 2px solid black;
  
}

#bottom{
  display: flex;
  width: 99.5%;
  border: 4px solid black;
  height: 20vh;
}

#nav{
  display: flex;
  flex-direction: row;
  height: 5vh;
}