#app {
  margin: 0.5%;
}

body{
  background-color: #DFD3C3;
  font-family:Arial, Helvetica, sans-serif
}

h3 {
  font-family:'Arial Wide', Arial, sans-serif;
  margin: 0;
  font-size: 22pt;
}

p, label {
  display: inline-block;
  font-size: 22pt;
  padding: 2% 0.01% 2% 4%;
}

.inputField {
  display: inline-block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid black;
  text-align: center;
  width: 100px;
}

.inputSelectLine {
  display: inline-block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 2% 14% 2% 14%;
  width: 70%;
}

.container {
	display: flex;
}

.vertical { 
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.center-horizontal {
  margin-left: 50%;
  margin-right: 50%;
}

.center-vertical {
  margin-top: 50%;
  margin-bottom: 50%;
}

.align-bottom {
  margin-top: 50%;
  margin-bottom: 0%;
}

.flex-one {
  flex: 1;
}

#appTitle {
  font-family:'Arial Wide', Arial, sans-serif;
  margin: 0;
  vertical-align: bottom;
}

#top {
  height: 18vh;
}

#paletteCanvasPropertiesContainer {
  height: 80vh;
}

#property {
  flex: 1;
  border: 2px solid black;
  background-color: #DFD3C3;
}

#options {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  flex: 1;
  border: 2px solid black;
  background-color: #DFD3C3;
}

#gameView {
  flex: 3;
  border: 2px solid black;
  background-color: #7D6E83;
}

#bottom {
  display: inline-block;
  align-items: left;
  flex-direction: row;
  border: 4px solid black;
  height: 20vh;
  overflow-x: auto;
  background-color: #DFD3C3;
}

#deselectSpriteButton {
  background-image: "../interface-icons/deselect.svg";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#deleteSpriteButton {
  background-image: "../interface-icons/deselect.svg";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#bottomButtons {
  display: inline-block;
  border-right: 3px solid black;
}

#bottomSprites {
  display: flex;
  align-items: left;
  flex-direction: row;
  border: 3px solid black;
  height: 20vh;
  overflow-x: auto;
  background-color: #DFD3C3;
}

#nav {
  height: 5vh;
}

#displayedImg {
  width: 100%;
  height: 10%;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

#bottomDisplayedImg {
  width: 3%;
  height: 100%;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

#title {
  background-color: #DFD3C3;
}

#playPauseButtons {
  background-color: #DFD3C3;
}

#saveLoadButtons {
  background-color: #DFD3C3;
}

#objectConfigTab {
  flex: 1;
}

#objectConfigButton {
  width: 100%;
}

#behaviorConfigButton {
  width: 100%;
}

#interactionsConfigButton {
  width: 100%;
}

#settingsConfigButton {

}

#behaviorConfigTab {
  flex: 1;
}

#interactionsConfigTab {
  flex: 1;
}

#blankConfigMenu {
  margin: 50% auto 50% auto;
}

#blankConfigMenuText {
  top: 50%;
}

#propertyMenus {
  height: 100%;
}

#objectConfigMenu {
  display: none;
}

#behaviorConfigMenu {
  display: none;
}

#interactionsConfigMenu {
  display: none;
}

#settingsConfigMenu {
  display: none;
}

#otherSpriteInteractionHelperText {
  display: none;
}

#playerMoveOptions {
  display: none;
}